<mat-toolbar color="primary">
  EDITAR PERSONAL
</mat-toolbar>
<form fxFlex="50%" fxLayout="column" [formGroup]="empleadoForm" (ngSubmit)="onSubmit()">
  <div class="input-row" fxLayout="column">
    <mat-form-field>
      <input matInput type="text" formControlName="firstName" placeholder="Nombre" value="{{empleado.firstName}}">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput type="text" formControlName="lastName" placeholder="Apellidos" value="{{empleado.lastName}}">
    </mat-form-field>
  </div>
  <div class="input-row" fxLayout="column">
    <mat-form-field fxFlex>
      <input matInput type="text" formControlName="ci" placeholder="CI" value="{{empleado.ci}}">
    </mat-form-field>
    <mat-form-field fxFlex fxLayout="column">
      <input matInput type="text" formControlName="telefono" placeholder="Telefono" value="{{empleado.telefono}}">
    </mat-form-field>
    <mat-form-field fxFlex fxLayout="column">
      <input matInput type="text" formControlName="celular" placeholder="Celular" value="{{empleado.celular}}">
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
    <mat-form-field fxFlex="100%">
      <input fxFlex="50%" matInput type="text" formControlName="direccion" placeholder="Direccion"
             value="{{empleado.direccion}}">
    </mat-form-field>
  </div>
  <div style="margin-bottom: 1em">
    <button mat-button type="submit"
            [disabled]="empleadoForm.pristine" class="btn btn-success">Guardar
    </button> &nbsp;
    <button mat-button type="button" (click)="revert()"
            [disabled]="empleadoForm.pristine" class="btn btn-danger">Cancelar
    </button>
  </div>
</form>
