<ul id="menu">
  <li>
    <button mat-button [matMenuTriggerFor]="personal">PERSONAL</button>
    <mat-menu #personal="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="departamentos">DEPARTAMENTOS</button>
      <button mat-menu-item [matMenuTriggerFor]="cargos">CARGOS</button>
      <button mat-menu-item [matMenuTriggerFor]="trabajadores">TRABAJADORES</button>
    </mat-menu>

    <mat-menu #departamentos="matMenu">
      <button mat-menu-item>LISTA</button>
      <button mat-menu-item>AGREGAR</button>
    </mat-menu>
    <mat-menu #cargos="matMenu">
      <button mat-menu-item routerLink="lista-cargos" routerLinkActive="active">LISTA</button>
      <button mat-menu-item>AGREGAR</button>
    </mat-menu>
    <mat-menu #trabajadores="matMenu">
      <button mat-menu-item routerLink="lista-empleados">LISTA</button>
      <button mat-menu-item routerLink="agregar-empleado">AGREGAR</button>
    </mat-menu>
  </li>
</ul>



