  <mat-toolbar color="primary">
    Lista de Profesiones
  </mat-toolbar>
  <div class="basic-container">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let cargo of cargos">
        <mat-expansion-panel-header>
          <mat-panel-title>
            CODIGO: {{cargo.code}}
          </mat-panel-title>
          <mat-panel-description>
            NOMBRE: {{cargo.name}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>
          {{cargo.descripcion}}
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>


