<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="empleados" class="example-table">

    <ng-container fxFlex="2" matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="example-header-cell"> Nombre</th>
      <td mat-cell *matCellDef="let empleado" class="example-cell"> {{empleado.name}}</td>
    </ng-container>

    <ng-container matColumnDef="jobposition">
      <th mat-header-cell *matHeaderCellDef class="example-header-cell"> Cargo</th>
      <td mat-cell *matCellDef="let empleado" class="example-cell"> {{empleado.jobPosition}}</td>
    </ng-container>

    <ng-container matColumnDef="telefono">
      <th mat-header-cell *matHeaderCellDef class="example-header-cell"> Telefono</th>
      <td mat-cell *matCellDef="let empleado" class="example-cell"> {{empleado.telefono}}</td>
    </ng-container>

    <ng-container matColumnDef="celular">
      <th mat-header-cell *matHeaderCellDef class="example-header-cell"> Celular</th>
      <td mat-cell *matCellDef="let empleado" class="example-cell"> {{empleado.celular}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="example-header-cell"></th>
      <td mat-cell *matCellDef="let empleado" class="example-cell"><a routerLink="../editar-empleado/{{empleado.id}}">Editar</a>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

