<div id="main">
  <div id="header">
    <div id="logo">
      <h1><a href="/"><span class="logo_colour">IZZISOFT</span></a></h1>
      <h2>EMPRESA DE CONSTRUCCION</h2>
    </div>
    <div id="menubar">
      <app-header></app-header>
    </div>
  </div>
  <br>
  <div id="site_content">
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div id="footer">
    <app-footer></app-footer>
  </div>
</div>
